name: documentation

on: 
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

permissions:
  contents: write

jobs: 
  build: 
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
        
    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -
        echo "$HOME/.local/bin" >> $GITHUB_PATH
        
    - name: Install dependencies
      run: | 
        poetry install
        pip install ghp-import
        
    - name: Build HTML
      run: | 
        poetry run sphinx-build -b html docs docs/_build/html
        
    - name: Run ghp-import
      run: | 
        ghp-import -n -p -f docs/_build/html